<div class="container">

  <!-- <header>
    <a routerLink="/funds">mutual funds</a>
  </header> -->
  
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/funds">Vanguard</span>
      <span class="example-spacer"></span>
      <span class="creator">Cody Bonsma</span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <a class="icon-link" href="https://github.com/CodyBonsma" target="_blank"><mat-icon>link</mat-icon></a>  
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <main>

  <router-outlet></router-outlet>
  </main>

</div>


