<div class="container">

  <!-- <header>
    <a routerLink="/funds">mutual funds</a>
  </header> -->
  
  <mat-toolbar color="primary" position="fixed">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <main>

  <router-outlet></router-outlet>
  </main>

</div>


