@import "@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    display: flex;
    background-color: whitesmoke !important;
    flex-direction: row;
    // justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    // flex: 1 0 100%;
}

header {
    background-color: green;
    padding: 20px;
    width: 100%;
}


html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin: 0px;
    padding: 0px;
}


// div.container {
//     margin: 0px 40px;
// }

.fill-remaining-space {
    flex: 1 1 auto;
}

form.normal-form {
    margin: 10px;
    height: auto;
    justify-content: center;
    // max-height: 380px;
}

.controls-container {
    width: 100%;
    padding: 5%;
}

.controls-container > * {
    width: 100%;
}

.button-row button {
    margin: 5px;
}

.close-btn button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.funds-headline {
    background-color: #8ebf42;
    margin: 5px;
    color: #ffffff;
    z-index: 10;
    width: 500px;
    height: 150px;
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    padding: 10px;
    // line-height: 30px;
}

.dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


