@import "@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    display: flex;
    background-color: blueviolet !important;
    flex-direction: row;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    flex: 1 0 100%;
}

header {
    background-color: green;
    padding: 20px;
    width: 100%;
}


html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin: 0px;
    padding: 0px;
}


// div.container {
//     margin: 0px 40px;
// }

.fill-remaining-space {
    flex: 1 1 auto;
}

form.normal-form {
    margin: 10px;
}

.controls-container {
    width: 100%;
    padding: 5%;
}

.controls-container > * {
    width: 100%;
}

.button-row button {
    margin: 5px;
}

.close-btn button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


