table {
    width: 100%;
}

th {
    border-bottom: solid 1.4px black;
    background-color: rgb(175, 172, 172);
}

// td {
//     border-bottom: solid 0.5px grey;
// }

.mutual-table {
    // text-align: center;
    top: 20%;
    left: 50%;
    transform: translateX(20%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }
  
  .mat-cell {
    text-align: center;
    justify-content:center;
  }

 